{% load static %}

<footer class="bd-footer py-4 py-md-5 mt-1 bg-light">
  <div class="container-xxl py-4 py-md-5 px-4 px-md-3">
    <div class="row">
      <div class="col-6 col-lg-4 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
          <img class="w-100" src="{% static 'tools/images/logo2.svg' %}" >
    
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="nav-item mb-2">Designed and built with all the love in the world by the toolGecko team.</li>
          
        </ul>
      </div>
      <!-- <div class="col-6 col-lg-3 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="nav-item mb-2"><a class="nav-link text-muted" href="/">Home</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-muted" href="#">About</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-muted" href="#">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-muted" href="https://icons.getbootstrap.com/">Blog</a></li>

        </ul>
      </div> -->
      <div class="col-6 col-lg-4 mb-3">
        <h4>Popular Tools</h4>
        <ul class="list-unstyled">
          <li class="nav-item mb-2"><a class="nav-link text-muted" href="/image-background-remover">Image Background Remover</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-muted" href="/word-counter">Word Counter</a></li>

        </ul>
      </div>
      <div class="col-6 col-lg-4 mb-3">
        <h4>Tool Categories</h4>
        <ul class="list-unstyled">
          <li class="nav-item mb-2"><a class="nav-link text-muted" href="/image">Image tools</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-muted" href="/text">Text tools</a></li>

        </ul>
      </div>
      
    </div>
  </div>
</footer>


