{% load static %}
<div class="card border-0 mb-5">
	<div class="card-header fs-3 border-0">
	PDF tools
	</div>
	<div class="card-body border-0">
		<div class="row">

			<!-- PDF Unlcok -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/unlock-pdf" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/pdf/pdf-unlock.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Unlock PDF</h5>
		          <p class="card-text  tool-card-text" >Unlock password protected PDF files online.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- PDF unlock card ends here -->

		    <!-- Protect PDF -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/protect-pdf" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/pdf/pdf-protect.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Protect PDF</h5>
		          <p class="card-text  tool-card-text" >Encrypt PDF files using password.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- Protect PDF card ends here -->

		    <!-- pdf split card -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/split-pdf" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/pdf/pdf-split.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Split PDF</h5>
		          <p class="card-text  tool-card-text" >Split PDF files into multiple PDFs</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- PDF split card ends here -->

		    <!-- pdf Merge card -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/merge-pdf" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/pdf/pdf-merge-1.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Merge PDF</h5>
		          <p class="card-text  tool-card-text" >Merge & reduce the size of PDF file.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- PDF Merge card ends here -->

		    <!-- pdf compress card -->
<!-- 			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="#" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/pdf/pdf-compress.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Compress PDF</h5>
		          <p class="card-text  tool-card-text" >Compress & reduce the size of PDF file.</p>
		          
		        </div>
		      </a>  
		    </div> -->
		    <!-- PDF compress card ends here -->




		</div>
	</div>
	<!-- pdf tools card body ends here -->
	<div class="card-footer border-0 bg-white text-end">
		<a href="/pdf" type="button" class="btn btn-sm btn-secondary">PDF tools <i class="bi bi-box-arrow-in-up-right"></i></a>
	</div>
</div>



