{% load static %}
<div class="card border-0 mb-5">
	<div class="card-header fs-3 border-0">
	Random Generators
	</div>
	<div class="card-body border-0">
		<div class="row">

			<!-- Name Generator -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/minify-html" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/randomgen/name2.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Name Generator</h5>
		          <p class="card-text  tool-card-text" >Generate random names of humans in multiple languages.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- Name generator card ends here -->

		    <!-- Address Generator -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/minify-html" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/randomgen/fakeAddress.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Address Generator</h5>
		          <p class="card-text  tool-card-text" >Generate random addresss of different locations.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- Address generator card ends here -->

		    <!-- Email Generator -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/minify-html" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/randomgen/mail.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Email Address Generator</h5>
		          <p class="card-text  tool-card-text" >Generate random email addresses for your project.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- Address generator card ends here -->
		</div>
	</div>
	<!-- pdf tools card body ends here -->
	<div class="card-footer border-0 bg-white text-end">
		<a href="/random-generators" type="button" class="btn btn-sm btn-secondary">Random Generators<i class="bi bi-box-arrow-in-up-right"></i></a>
	</div>
</div>