{% load static %}
<div class="card border-0 mb-5">
	<div class="card-header fs-3 border-0">
	Social Media
	</div>
	<div class="card-body border-0">
		<div class="row">

			<!-- Instagram Bio -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/minify-html" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/social/insta-bio-1.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Instagram Bio</h5>
		          <p class="card-text  tool-card-text" >Create eye catching & aesthetic Instagram bio.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- Insta Bio card ends here -->
		    
			<!-- Instagram Font Generator -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/minify-html" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/social/instagram-font-generator.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Instagram Font Generator</h5>
		          <p class="card-text  tool-card-text" >Create beautiful Instagram bios & post captions in copy paste fonts.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- Instagram font generator card ends here -->

		    


		    <!-- Tweet Screenshot -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/minify-html" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/social/tweet-screenshot.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Tweet Screenshot</h5>
		          <p class="card-text  tool-card-text" >Create beautiful Instagram bios & post captions in copy paste fonts.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- Tweet Screenshot card ends here -->

		    <!-- Tweet Screenshot -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/minify-html" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/social/fake-tweet.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Fake Tweet</h5>
		          <p class="card-text  tool-card-text" >Create perfect fake tweets for memes and pranks.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- Tweet Screenshot card ends here -->
		</div>
	</div>
	<!-- pdf tools card body ends here -->
	<div class="card-footer border-0 bg-white text-end">
		<a href="/social-media" type="button" class="btn btn-sm btn-secondary">Social Media tools <i class="bi bi-box-arrow-in-up-right"></i></a>
	</div>
</div>