{% load static %}
<div class="card border-0 mb-5">
	<div class="card-header fs-3 border-0">
	Text
	</div>
	<div class="card-body border-0">
		<div class="row">

			<!-- Word Counter -->
			<div class="card border-0  col-lg-3 col-md-4 col-sm-6 col-6 rounded-0 tool-card">
		      <a href="/word-counter" class="tool-link">
		        <div class="card-body icon-card-body" style="padding: 0px !important; margin-bottom: 0px;">
		          <div class="wraptocenter">
		            <img src = "{% static 'tools/images/app-icons/text/word-counter.svg' %}" class="card-tool-icon"   />
		          </div>
		        </div>
		      
		        <div class="card-body" style="padding-top: 10px;">
		          <h5 class="card-title mb-2 ">Word Counter</h5>
		          <p class="card-text  tool-card-text" >Count number of words, characters, paragraphs, sentences in your text.</p>
		          
		        </div>
		      </a>  
		    </div>
		    <!-- word counter card ends here -->
		</div>
	</div>
	
</div>