{% extends 'tools/base.html' %}
{% load static %}

{% block title %}
	Word Counter - Count Character, Word, Sentence, Paragraph
{% endblock %}

{% block meta %}
	<meta name="description" content="Count words, characters, sentences, paragraphs, etc online in your text online. It's free, just paste the text or upload the file.">
{% endblock %}

{% block bottom_scripts %}
<script src="{% static 'textapps/js/upsidetext-generator.js' %}"></script>
<link rel="stylesheet" href="{% static 'textapps/css/upsidetext-generator.css' %}"/>{% endblock %}

{% block content %}
	<!-- full header includes breadcrumb, and titles  -->
	<div class="container-fluid  bg-light pt-2 pb-3" style="background-color: #FBF8F1;">
		<!-- breadcrumb -->
		<div class="container-xxl breadcrum-div  pt-2 pb-3">
			<nav class=" " aria-label="breadcrumb" >
			  <ol class="breadcrumb m-0">
			    <li class="breadcrumb-item"><a href="/">Home</a></li>
			    <li class="breadcrumb-item"><a href="/text">Text Tools</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Small Text Generator</li>
			  </ol>
			</nav>
		</div>
		<!-- breadcrumb ends here -->
		<!-- h1,h2, icon after breadcrumb  -->
		<div class="container-xxl pt-5 pb-2">

			<div class="row  pb-2">
				<div class="col-auto">
					<img class =""  src="{% static 'tools/images/app-icons/text/word-counter.svg'%}" style="width: 80px;">
				</div>
				<div class="col float-start">
					<h1 class="display-6 ">Upside DownText Generator<h1> 
					<h2 class="lead text-muted"> This upside down text generator is an easy to use online tool that allows you to completely flip your text. Simply paste or write the text in the left column and see it automatically get flipped in the right.</h2>
				</div>
			</div>
		</div>
		<!-- h1,h2, icon ends here -->
	</div>
	<!-- full header ends here -->

	
	<div class="container-xxl tool-div py-5">
	<!-- tool area, you have to write code inside this div only-->	
    <div class="bs-callout">
		<div class="row">
			<div class="col px-0">
				<label>Character Count :</label>
				<span id="word">0</span> &nbsp; Words &nbsp;|
				<span id="char">0</span> &nbsp; Characters	&nbsp;	
			</div>
		</div>
	</div>
    <form name="uppercase">
		<div class="row">
			<textarea name="comment" class="textarea" rows="10" cols="50" placeholder="Enter or paste your code here" id="area">
			</textarea>
		</div>
	</form>
	<div class='row'>
		<div class='col px-0'>
			<button class="upperbtn btn mt-3 style-btn" onclick="upsideText()">Convert Your Text</button>
			<a class="upperbtn btn mt-3 style-button" id="link" download="Text.txt">Download Text</a>
			<button class="upperbtn btn mt-3 style-btn copy" onclick="copyText()">Copy on clipboard</button>
		</div>
	</div>
		
	<!-- tool are ends -->		
	</div>
	

{% endblock %}

