a.navbar-brand{
    text-transform: capitalize;
}
h1.display-6 {
    color: black;
    font-size: xxx-large;
    font-weight: 300;
}
a.item {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: normal;
}
h6.para {
  color: #6c757d;
  font-size: medium;
}
.box{
  width: auto;
  border: 1px solid #d2d5d8;
  padding: 30px;
}
textarea#area {
  border-color: #d2d5d8;
}
.bs-callout {
  background-color: rgb(248 248 248);
  margin: 20px 0;
  padding: 30px;
  border-left: 5px solid #008ecc;
}
.card-header{
  color: #ffffff;
  background-color: #008ecc;
}
.card-text{
  color: #6c757d;
}
/* button css */
  .style-btn {
  background: linear-gradient(to bottom right, #008ecc, #008ecc);
  border: 0;
  border-radius: 12px;
  color: #ffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: auto;
  height: 6vh;
}

/* .style-btn:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(105, 104, 104, 0.5), -.125rem -.125rem 1rem rgba(155, 151, 151, 0.5), .125rem .125rem 1rem rgba(155, 151, 151, 0.5);
} */
			
/* .style-btn:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(155, 151, 151, 0.5), .125rem .125rem 1rem rgba(155, 151, 151, 0.5);
} */
.style-button{
  background: linear-gradient(to bottom right, #008ecc, #008ecc);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.9;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: auto;
  height: 6vh;
}
.style-button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(105, 104, 104, 0.5), -.125rem -.125rem 1rem rgba(155, 151, 151, 0.5), .125rem .125rem 1rem rgba(155, 151, 151, 0.5);
}
.subtext{
  color: #6c757d;
  font-size: 15px;
}
.details{
  width: auto;
  border: 1px solid #d2d5d8;
  padding: 10px 20px;
}
